* {
    font-family: Verdana, sans-serif;
}

div {
    display: block;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table {
    scale: 1, 1;
    margin: 0 auto;
    padding: 3px 0;
    font-size: 11.2px;
    color: black;
    letter-spacing: 1px;
    text-align: left;
}

caption {
    font-size: 12.12px;
    height: 1.4em;
    margin: 0 auto;
    padding: 3px 0;
    font-weight: bold;
    font-variant: small-caps;
    background-color: #1e3790;
    color: #FFF;
    letter-spacing: 1px;
    text-align: center;
}

table {
    height: 272px;
    width: 984px;
    border: 1px solid #dedfe3;
}


form table tbody{
    margin: 1px solid black;
    background-color: #F9FBFD;
}

tfoot {
    background-color: #c8d5ec;
    text-align: center;
    height: 30px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.cabecalho {
    background-color: gray;
    height: 20px;
}

.table2, .table1 {
    border-collapse: collapse;
}

.table2 tr:nth-child(odd) {
    background-color: #c8d5ec;
}

.table2 tr:nth-child(even) {
    background-color: #f9fbfd;
}

.tituloSite {
    height: 24px;
    width: 984px;
    padding: 10px 30px 10px 30px;
    box-shadow: 0px 1px 0px 0px #99a1c0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eff3fa;
    color: #1e3790;
    text-align: left;
    font: bold;
    font-weight: 800;
    font-size: 1.2em;
}

.table1 {
    width: 640px;
    height: 400px;
}

.T1coluna1 {
    height: 30px;
    width: 26px;

}
.T1coluna2 {
    height: 30px;
    width: 175px;
}

.T1coluna3 {
    height: 30px;
    width: 480px;
}

.um {
    height: 18px;
    width: 200px;
}

.dois {
    height: 16px;
    width: 420px;
}

.tres {
    height: 18px;
    width: 200px;
}
.quatro {
    height: 18px;
    width: 240px;
}

.visualizarMenu {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 3px 0;
    box-shadow: 0px 1px 0px 0px #99a1c0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eff3fa;
    color: black;
    text-align: center;
    font: bold;
    font-weight: 800;
    font-size: 1.2em;
}

.container {
    width: 984px;
    margin: 0 auto;
    background: #FFF;
    text-align: left;
}

.table2 {
    height: 1300px;
}

.table2 tbody tr {
    height: 28px;
}

.table2 tbody tr th {
    padding: 0px 22px;
    font-weight: bolder;
    font-size: 1.3em;
}

.table2 thead tr th {
    font-weight: bolder;
    font-size: 1.2em;
}

.ano {
    text-align: center;
    width: 20px;
}

.periodo {
    color: blue;
    width: 40px;
}

.docente {
    width: 300px;
    font-size: 1.2em;
}

.tipo{
    width: 40px;
}

.situacao {
    width: 40px;
}

.horario {
    width: 40px;
}

.local {
    width: 50px;
}

.matCap {
    width: 40px;
    text-align: right;
}

.imagem {
    width: 25px;
    text-align: center;
}